/* global reset */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url("https://i.redd.it/1xmndtsxffw51.png");
}

.container {
    display: grid;
    height: 95vh;
    
    grid-template-areas:
            ". section  ."
            ". section ."
            ". section  .";
        
        grid-template-columns: 1fr 6fr 1fr;
        margin-top: 20px;
        margin-bottom: 20px;
}



section {
    grid-area: section;
    display: grid;
    grid-template-areas:
            "chat text-box"
            "chat text-box";
        grid-template-columns: 2fr 6fr;
        border: 1px solid gray;
        box-shadow: 0 0 5px  rgb(136, 135, 135);

}
nav{
    display: grid;
    grid-area: chat;
    grid-template-areas: 
        "user-nav"
        "notification"
        "search-bar"
        "chat-list";
        grid-template-rows: auto auto 1fr 11fr;
    background-color:  #efefef;
}
.user-nav, .notification, .serach-bar, .chat-list{
    padding: 20px;
}
.user-nav{
    grid-area: user-nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    
}
.user-logo>img{
    width: 70px;
    clip-path: circle();
}
.options>a> i{
    padding-right: 30px;
}
.notification-container{
    display: flex;
    padding-left: 20px;
}
.notification{
    grid-area: notification;
    display: flex;
    align-items: center;
    background-color: #9ce1fe;
    border-right: 1px solid gray;
}

.actions-notification{
    padding-left: 30px;
}
.search-bar{
    grid-area: search-bar;
    display: flex;
    border-bottom: 1px solid gray;
   
   
    
}
.search-bar>input{
    width: 100%;
    border: 0vw;
    background-color: #efefef;
    border-right: 1px solid gray;
}
.search-bar>button{
    width: 70px;
    border: 0vw;
}

.chat-list{
    grid-area: chat-list;
    border-right: 1px solid gray;
    
}
.intro-mex>i{
    padding-right: 3px;
}



.box-contact{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-top: 15px;
}
.box-contact:hover{
    background-color: #969999;
    border-radius: 7px;
    cursor: pointer;
}
.current-box{
    background-color: #969999;
    border-radius: 7px
    
}
.name-contact{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    
}
.name-contact>div:nth-child(1){
    font-weight: bold;
}
.container-text-box {
    grid-area: text-box;
    display: grid;
    grid-template-areas:
            "contact-info-actions"
            "text-area"
            "input-text";
        grid-template-rows: auto 1fr auto;
    background-color: #efefef;
}
.contact-info-actions{
    grid-area: contact-info-actions;
    background-color: #efefef;
    border-bottom: 1px solid gray;
}
.text-area{
    grid-area: text-area;
    
}
.text-area::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}
.input-text{
    grid-area: input-text;
    border-top: 1px solid gray;
}
.contact{
   display: flex;
   justify-content: space-between;
   align-items: center;
padding: 20px;
}
.contact-container{
    display: flex;
}
.contact-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.icon-contact>a>i{
    padding-right: 30px;
}
.input-text{
    display: flex;
    padding: 10px;
    background-color: #efefef;

}
.input-text>input{
    flex-grow: 1;
    
}
.input-text>a>i{
    padding: 20px;
}


.text-area{
    height: 750px;
    overflow: auto;
    padding: 50px;
    background-image: url("https://i.pinimg.com/736x/8c/98/99/8c98994518b575bfd8c949e91d20548b.jpg");
    
    
    
    
}
.box{
    display: grid;
    
}
.right{
    justify-self: end;
    padding: 10px;
    border-radius: 10px;
    background-color: #ddf7c8;
    box-shadow: 2px 2px 2px rgb(136, 135, 135);
    margin: 5px;
    
}
.left {
    justify-self: start;
    padding: 10px;
    box-shadow: 2px 2px 2px rgb(136, 135, 135);
    background-color: #ffffff;
    border-radius: 10px;
    margin: 5px;
}
.left>div:nth-child(2){
    text-align: end;
    padding-left: 50px;
    color: rgb(143, 141, 141);
}
.right>div:nth-child(2) {
    text-align: end;
    padding-left: 50px;
    color: rgb(143, 141, 141);
}
.center-box{
    display: grid;
}
.center-box>div{
    justify-self: center;
    padding: 10px;
        box-shadow: 2px 2px 2px rgb(136, 135, 135);
        background-color: #e1f4fb;
        border-radius: 10px;
}












