body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(0, 148, 79);

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: sticky;
}

.logo {
    font-size: 24px;
}

.menu {
    display: flex;
}

#tendina-menu {
    display: none;
    flex-direction: column;
    align-items: center;

}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
}

.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
}

.hamburger div {
    width: 30px;
    height: 4px;
    background-color: #1ec542;
    margin: 6px 0;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;

}